* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LANDING PAGE */
#form-container {
  position: absolute;
}

#container-items {
  z-index: 2;
}

#img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-img {
  width: 1024px;
  height: 980px;
}